<div class="container">
  <div class="row">
    <div class="col-5">
      <h1><%= @user.name %>さんとのチャット</h1> 
      
      <div id="chat">
        
        <% @chats.each do |chat| %>
          <ul class="message">
            <% if chat.user_id == current_user.id %>
             <li class="right-side">
               <div class="img">
               <%= attachment_image_tag(chat.user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg", class:'rounded-circle') %>
               </div>
               <div class="text"><%= chat.message %></div>
             </li>
            <% else %>
              <li class="left-side">
                <div class="img">
                <%= attachment_image_tag(chat.user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg", class:'rounded-circle') %>
                </div>
                <div class="text"><%= chat.message %></div>
              </li>
            <% end %>
            <% end %>
          </ul>
        
      </div>
        <div class="new-chat">
          <%= form_with model: @chat do |f| %>
            <div class="form-group">
              <%= f.text_field :message, class:'form-control' %>
              <%= f.hidden_field :room_id %>
            </div>
            <%= f.submit '送信', class:"btn btn-success" %>
          <% end %>
        </div>
      
     
    </div>
  </div>
</div>